@import "../../../styles/vars.module.scss";

.container {
  color: #ffffff;
  background-color: $tertiary;
  border-radius: 10px;
  padding: 0.5rem;
  transition: background-color 0.2s;
  font-size: 1.25rem;
  width: calc(100% - 1rem);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &::placeholder {
    color: $secondary;
  }

  &:hover {
    background-color: darken($tertiary, 3%);
  }

  &.disabled {
    cursor: not-allowed;
    background-color: rgba(128, 128, 128, 0.5);

    &:hover {
      background-color: rgba(128, 128, 128, 0.5);
    }

    &:has(> input:focus, textarea:focus) {
      background-color: rgba(128, 128, 128, 0.5);
    }
  }

  input,
  textarea {
    all: unset;
    color: #ffffff;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  &:has(> input:focus, textarea:focus) {
    background-color: darken($tertiary, 6%);
  }
}
